<div class="main">


   <h1>Bookings<span class="dot">.</span>NOW</h1>
   <div class="nav-manu">
      <button #toggleButton (click)="booking()">More Travels <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
         <ul  #menu *ngIf="isMenuOpen">
            <li><i class="fa fa-bed" aria-hidden="true"></i><a [routerLink]="['/home']">Hotels</a></li>
            <li><i class="fa fa-bus" aria-hidden="true"></i><a [routerLink]="['/bus']">Bus</a> </li>
            <li><i class="fa fa-car" aria-hidden="true"></i><a [routerLink]="['/car']">Cars</a></li>
            <li><i class="fa fa-fighter-jet" aria-hidden="true"> <a [routerLink]="['/flight']">Flights</a></i></li>
            <li><i class="fa fa-train" aria-hidden="true"></i><a [routerLink]="['/train']">Trians</a></li>
         </ul>

   </div>

  <!-- <h1 class="head">TableBookingApp</h1>
   
      <ul class="nav ">
         <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">HOME</a></li>
         <li class="nav-item"><a [routerLink]="['/tableStatus']"   class="nav-link">TableStatus</a></li>
         <li class="nav-item"><a [routerLink]="['/tableBooking']"  class="nav-link">Tablebooking</a></li>
     
      </ul> -->

      <div class="menu">
         <ul>
            <li><i class="fa fa-globe" aria-hidden="true"></i>English</li>
            <li><i class="fa fa-ticket" aria-hidden="true"></i>Support</li>
            <li><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i>Sigin</li>
<!-- <li>Login</li> -->
         </ul>
      </div>
</div>
   


 
<router-outlet></router-outlet>
 