<div class="text-center mt-5" *ngIf="!flightBoolean">
    <h2>Welcome To Our Hotel</h2>
     
      <h3 class="content">We are delighted to have you as our guest and are committed to providing you with a comfortable and memorable stay</h3>
     

</div>
<div class="flight" *ngIf="flightBoolean">
    <div>
        <h2>Welcome to flight Bookings</h2>
        <div>
            <img src="https://i.pinimg.com/originals/5c/86/f5/5c86f58fa1218401343c9288f14c3057.jpg" alt="">
        </div>

    </div>
</div>