<div class="flights">
    <h1>Search flights</h1>


    <ul class="nav ">
        <li class="nav-item"><a routerLink="hotelHOme" class="nav-link"><i class="fa fa-home"
                    aria-hidden="true"></i>HOME</a></li>
        <li class="nav-item"><a routerLink="tableStatus" class="nav-link"><i class="fa fa-plane"
                    aria-hidden="true"></i>BookFlight</a></li>
        <li class="nav-item"><a routerLink="tableBooking" class="nav-link"><i class="fa fa-tasks"
                    aria-hidden="true"></i>FlightCurrentStatus</a></li>

    </ul>

</div>
<select (change)="price()" [(ngModel)]='amout'>
    <option>select option</option>
    <option value="5000-10000">5000-10000</option>
    <option value="10000-20000">10000-20000</option>
    <option value="20000-30000">20000-30000</option>
    <option value="30000-40000">30000-40000</option>
    <option value="40000-100000">40000-100000</option>
</select>
<table>
    <thead class="my-table headers">
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let value of data'>
            <td>{{value.item}}</td>
            <td>{{value.price}}</td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>

<!-- <div class="flight">
    <mat-tab-group>
        <mat-tab label="Retrun"> 
            
            <div class="form-group d-sm-flex margin">
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
                    <input type="text" required placeholder="From" class="form-control">
                    <div class="label" id="from"></div>
                    <span class="fas fa-dot-circle text-muted"></span>
                </div>
                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
                    <input type="text" required placeholder="To" class="form-control">
                    <div class="label" id="to"></div>
                    <span class="fas fa-map-marker text-muted"></span>
                </div>
            </div>
            <div class="form-group d-sm-flex margin">
                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                    <input type="date" required placeholder="Depart Date" class="form-control">
                    <div class="label" id="depart"></div>
                </div>
                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
                    <input type="date" required placeholder="Return Date" class="form-control">
                    <div class="label" id="return"></div>
                </div>
            </div>
            <div class="form-group border-bottom d-flex align-items-center position-relative">
                <input type="text" required placeholder="Traveller(s)" class="form-control">
                <div class="label" id="psngr"></div>
                <span class="fas fa-users text-muted"></span>
            </div>
            <div class="form-group my-3">
                <div class="btn btn-primary rounded-0 d-flex justify-content-center text-center p-3">Search Flights
                </div>
            </div>
        
        
        
        </mat-tab>
        <mat-tab label="ONE_WAY"> ONE_WAY </mat-tab>
        <mat-tab label="Mutli-City"> Mutli-City </mat-tab>
      </mat-tab-group>

</div> -->