
<div class="d-flex justify-content-center">

    <div>
        <span class="star">
            ******************************************
        </span>

        <h3 class="text-center">RECEPIT</h3>

        <span class="star">
            ******************************************
        </span>
        <div>
            {{name}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{time}}
        </div>
        <span class="star">
            ******************************************
        </span><br>
        <div class="d-flex justify-content-between">
            <div >
                <span>Table No {{tableNumber}} </span> : <span> Advance {{amount}}/-</span><br>
            </div>
            <div  >
                <span>BookingId</span>:<span>{{bookingId}}</span>
            </div>
        </div>
        <!-- <span class="star">
            ******************************************
        </span><br>
        <span class="star">
            ******************************************
        </span> -->
        <div >
            <h3 class="text-center">Total Amount</h3>
            <div class="bill">
                <div class="d-flex justify-content-between">
                    <p>Bill</p><p class="text-end">Advance {{amount}}/-</p> 
                </div>
                <div class="d-flex justify-content-between">
                    <span>CGST</span><p class="text-end">5%</p>
                </div>
                <div class="d-flex justify-content-between">
                    <span>SGST</span><p class="text-end">5%</p>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Total</span><p class="text-end">{{totalAmount}}/-</p>
                </div>
               
                
                
            </div>
            <span class="star">
               --------------------------------------------------------
            </span>
        </div>
        <div>
            <p class="text-center">Thanku for booking...😍🥰😋🙏</p>
            <div class="r2">

                <span  class="text-center Reminder">Reminder:Dont worry this amount will be debited from your purchase amount on the food
                </span>
            </div>
    
        </div>

    </div>
</div>